<ion-view view-title="Browsing Ideas" ng-controller="IdeasCtrl">
  <ion-content>
    <div class="list">
      <div ng-repeat="idea in ideas" ng-click="goIdea(idea)">
        <idea-perm perm="owner" owner="{{idea.owner}}">
          <div ng-switch="perms.hasPerm">
            <div ng-switch-when="true">
              <div class="card">
                <div class="item item-divider item-button-right">
                  {{idea.data.name}}
                  <button class="button button-clear" ng-click="showOptions($event, idea);$event.stopPropagation()">
                    <i class="icon ion-ios7-gear"></i>
                  </button>
                </div>
                <div class="item">
                  {{idea.data.description}}
                </div>
              </div>
            </div>
            <div ng-switch-when="false">
              <div class="card">
                <div class="item item-divider">
                  {{idea.data.name}}
                </div>
                <div class="item">
                  {{idea.data.description}}
                </div>
            </div>
          </div>
        </idea-perm>
      </div>
    </div>
  </ion-content>
</ion-view>
