<ion-view view-title="Browsing Comments" ng-controller="CommentsCtrl">
  <ion-content>
    <div class="list">
      <div class="item item-divider">Idea</div>
      <div class="card">
        <div class="item item-text-wrap item-divider">
          {{idea.data.name}}
        </div>
        <div class="item item-text-wrap">
          {{idea.data.description}}
        </div>
      </div>
      <div class="item item-divider">Comments</div>
      <div ng-repeat="comment in comments">
        <idea-perm perm="owner" owner="{{comment.owner}}">
          <div ng-switch="perms.hasPerm">
            <div ng-switch-when="true">
              <div class="item item-text-wrap item-button-right">
                {{comment.data.text}}
                <button class="button button-clear" ng-click="showOptions($event, idea);$event.stopPropagation()">
                  <i class="icon ion-ios7-gear"></i>
                </button>
            </div>
            <div ng-switch-when="false">
              <div class="item item-text-wrap">
                {{comment.data.text}}
              </div>
            </div>
          </div>
        </idea-perm>
      </div>
    </div>
    <div class="button button-royal button-block" ng-click="showComments()">Post comment</div>
  </ion-content>
</ion-view>
