<ion-modal-view ng-keypress="$event.keyCode == 13 && !busy && doComments()"> <!-- This code is bad but whatever -->
  <ion-header-bar>
    <h1 class="title">Comment</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <textarea ng-model="input.text" placeholder="Comment"></textarea>
      </label>
    </div>
    <div class="button button-block button-balanced" ng-click="doComments()">Submit</div>
    <div class="button button-block button-stable" ng-click="hideComments()">Cancel</div>
  </ion-content>
</ion-modal-view>
