<ion-view view-title="Categories" ng-controller="CategoriesCtrl">
  <ion-content>
    <div class="list">
      <div ng-repeat="category in  categories" ng-click="goCategory(category)">
        <idea-perm perm="owner" owner="{{category.owner}}">
          <div ng-switch="perms.hasPerm">
            <div ng-switch-when="true">
              <div class="item item-button-right">
                {{category.data.name}}
                <button class="button button-clear" ng-click="showOptions($event, category);$event.stopPropagation()">
                  <i class="icon ion-ios7-gear"></i>
                </button>
            </div>
            <div ng-switch-when="false">
              <div class="item">
                {{category.data.name}}
              </div>
            </div>
          </div>
        </idea-perm>
      </div>
    </div>
    <idea-perm perm="category">
      <div class="button button-royal button-block" ng-click="showCategories()" ng-show="perms.hasPerm">Create category</div>
    </idea-perm>
  </ion-content>
</ion-view>
